@import "./variables.scss";
@import "~bootstrap/scss/bootstrap";
@import "./fonts.scss";

body {
  font-family: "Monda", "sans-serif";
  padding-bottom: 75px;
}

a {
  color: unset;
  text-decoration: unset;
  &:focus {
    color: unset;
    text-decoration: unset;
  }
  &:hover {
    color: unset;
    text-decoration: unset;
  }
}
