@import "./variables.scss";
@import "~bootstrap/scss/bootstrap";
@import "./fonts.scss";

body {
  font-family: "Monda", "sans-serif";
  padding-bottom: 50px;
  background: rgba($color: grey, $alpha: 0.2);
}

a {
  color: unset;
  text-decoration: unset;
  &:focus {
    color: unset;
    text-decoration: unset;
  }
  &:hover {
    color: unset;
    text-decoration: unset;
  }
}

.App {
  max-width: 425px;
  width: 100%;
  background: #fff;
  min-height: calc(100vh - 50px);
}

#root {
  display: flex;
  justify-content: center;
}
