@import "../../styles/variables.scss";

.pokemonCard {
  background-color: rgba($color: grey, $alpha: 0.1);
  width: 100%;
  padding: 20px;
  margin: 10px 0px;
  height: 100%;
  border-radius: 20px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $textBlack;
  overflow: hidden;
  position: relative;

  &__details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__orderNumber {
    font-size: 14px;
  }

  &__name {
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__types {
    display: flex;
    flex-direction: row;
  }

  &__pokemonSprite {
    position: relative;
    height: 100px;
    z-index: 1;
  }

  &__backgroundImage {
    position: absolute;
    right: -50px;
    bottom: -50px;
    opacity: .5;
    z-index: 0;
    width: 200px;
  }
}
