@import "../../styles/variables.scss";

.pokemonData {
  color: $textBlack;
  &__nav {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: -20px;
    background: #fff;
  }
  &__navItem {
    text-transform: capitalize;
    &--selected {
      border-bottom: 2px solid $colorPrimary;
    }
  }
}
